.createOrderForm {
  max-width: calc(48 * 1rem);
  padding: 1.5rem 0.5rem;
  color: var(--color-gray-700);
  margin: 0 auto;
}

.createOrderFormHeader {
  font-size: var(--font-size-lg);
  margin-bottom: 2rem;
}

.createOrderInputSectionContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.createOrderSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* If we don't set the flex-basis here, it default value will be content. This in turn
cause the width of the label flex item different from each row.
Since flexbox use the initial width of the flex item as a starting point (base) THEN
recalculate all to fit the rules, this can cause the flex items on different rows have different width. */

.formLabel {
  flex-basis: 20%;
}

.formInput {
  flex-basis: 80%;
  font-size: var(--font-size-sm);
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-700);
  border-radius: 2em;
  padding: 0.6rem 1.2rem;
  background-color: #fff;
  outline: transparent;
  transition: outline 0.15s ease-in-out;
}

.formInput:focus {
  outline: 1px solid var(--color-primary-500);
}

.addressSection {
  display: flex;
  align-items: center;
  position: relative;
  flex-basis: 80%;
}

.addressInput {
  flex-basis: 100%;
}

.createOrderCheckbox {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  align-items: center;
}

input[type='checkbox'] {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--color-primary-400);
}

input[type='checkbox']:active,
input[type='checkbox']:focus {
  box-shadow: 0 0 0 2px var(--color-gray-100),
    0 0 0 3px var(--color-primary-300);
}

.warning {
  background-color: var(--color-red-100);
  color: var(--color-red-700);
  text-align: center;
  margin: auto 0;
  font-size: var(--font-size-xs);
  justify-self: right;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

/*
Source - https://stackoverflow.com/a/61565008
Posted by Monte Roden
Retrieved 2025-12-21, License - CC BY-SA 4.0
*/

.fadeIn {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (width >= 40em) {
  .createOrderSection {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .warning {
    width: 80%;
  }
}
