.emptyCart {
  max-width: calc(48 * 1rem);
  padding: 1rem 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.emptyCartMessage {
  font-weight: 600;
  font-size: var(--font-size-md);
  color: var(--color-gray-700);
  align-self: center;
}
